
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>

<br /> 
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporu</a>

<a href="/Excel/DestinationalExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a>